<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="Observer-SPL-PHP-Pattern test suite">
            <directory>tests/Listeners</directory>
            <file>tests/ErrorHandlerTest.php</file>
        </testsuite>
    </testsuites>

    <php>
        <const name="_FILES_PATH" value="tests/_files" />
    </php>
</phpunit>